<div class="row">

    <div class="col-md-8">
        <h4>Content Coming Soon...</h4>
    </div>

    <div class="col-md-4">
        <a class="twitter-timeline"  href="https://twitter.com/bezudar" data-widget-id="541145269388070912">Tweets by @bezudar</a>
        <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
    </div>
</div>

